<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />

    <title><%= article.title %></title>
  </head>
  <body>
    <h1><%= article.title %></h1>
    <small><%= article.date %></small>
    <p><%= article.content %></p>
    <a href="/home">â† Volver</a>
  </body>
</html>
